@model LoginUser

<div class="container row flex justify-content-center">
    <div class="card p-3 bg-info text-white shadow-sm mb-5 rounded col-4">
        <partial name="LoginPartial"/><br>
        <a href="/" class="link-primary">Not a user?</a>
    </div>
</div>